*{box-sizing: border-box;}
.content{
    width: 3000px;
    background-color: aqua;
    padding: 20px;
}
img{width: 100%; display: block;}
.maincontainer{
    width: 1000%;
    margin: auto;
}
.maincontainer{
    position: relative;
    z-index: 0;
}
.gallerycontainer{
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}
.gallery-image{
    display: inline-block;
    width: 500px;
}
.btnright, .btnleft{
    position: absolute;
    top: 40%;
    z-index: 2;
    background-color: rgba(70, 200, 50, 0.5);
    border: none;
    font-size: 2em;
}
.btnright{right: 1%;}
.btnleft{left: 1%;}


html{scroll-behavior: smooth;}
.toTop{
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 20px;
    background-color: rgba(100,100,100,0.5);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
}
.toTop a{
    color: white;
    text-decoration: none;
}